.footer-main {
  font-family: "cabin-sketch-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-contact{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.ig-color:hover {
  border-radius: 10px;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.footer-button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #17A2B8;
  transition: all 0.2s ease;
}

.footer-button:active {
  transform: scale(0.96);
}

.footer-button:before,
.footer-button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.footer-button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #17A2B8 20%, transparent 30%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #17A2B8 15%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.footer-button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #17A2B8 15%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%),
    radial-gradient(circle, #17A2B8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}