.course-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 34px;
  color: #000000;
}

.count-up {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 400px;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 10px;
  box-shadow: -4px 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #000000;
  width: 200px;
  margin-bottom: 100px;
}

.counter {
  font-family: "cabin-sketch-regular", sans-serif;
  font-size: 40px;
  font-weight: bold;
  background-color: #000000;
  border-radius: 3px;
  position: relative;
  color: #fff;
}

.wrapper i {
  color: #17a2b8;
  z-index: 1;
  font-size: 64px;
  margin-bottom: 5px
}

.statsName {
  font-family: "cabin-sketch-regular", sans-serif;
  font-size: 20px;
  color: #fff;
}